@media screen and (max-width:1199px){

    .container{
        width:1300px;
    }

}
@media screen and (max-width:979px){
    .container{
        width:750px;
    }
    .banner p{
        font-size:11px;
    }
}
@media screen and (max-width:767px){
    .container{
        width:96%;
    }
}